* {
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
}

.search {
  border-radius: 20px;
  border: 0px;
  width: 393px;
  height: 40px;
  padding: 0 15px;
  background: #F5F5F5;
}

.flex-item-prod {
  padding-left: 8px;
  flex: 10%;
  line-height: 5px;
  margin: 0px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 15px;
  text-align: left;
}

.flex-item-logo {
  padding: 10px;
  flex: 20%;
  margin: 20px;
  margin-left: 160px;
}

.flex-item-left {
  padding: 10px;
  flex: 30%;
  line-height: 35px;
  margin: 20px;
}

.descricao {
  margin-top: 20px;
  font-weight: 500;
  font-size: 14px;
}

.valor {
  font-weight: bold;
}

.space {
  margin-top: 40px;
}

.flex-item-prod a {
  text-decoration: none;
  font-weight: 700;
  color: #2A7AE4;
}

.float-right a {
  font-weight: 700;
  color: #2A7AE4;
}

.float-right i {
  color: #2A7AE4;
}

.logo {
  padding: 10px;
  margin: 20px;
}

.btn-login {
  height: 40px;
  width: 150px;
  text-align: center;
  border: 2px solid #2A7AE4;
  background-color: white;
  color: #2A7AE4;
}

.container h1 {
  font-weight: 700;
}

.container-fluid img {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.container-fluid h1 {
  position: absolute;
  top: 250px;
  left: 200px;
  color: white;
  font-weight: 700;
  font-size: 52px;
}

.container-fluid h3 {
  position: absolute;
  top: 340px;
  left: 200px;
  color: white;
  font-weight: 700;
  font-size: 22px;
}

.container-fluid button {
  position: absolute;
  top: 390px;
  left: 200px;
  color: white;
  background-color: #2A7AE4;
  border: none;
  font-weight: 500;
  font-size: 16px;
  width: 10%;
  height: 50px;
}


.form-footer {
  width: 100%;
  max-width: 350px;
  padding: 2%;
  margin-top: 2px;
}

.single-input {
  position: relative;
  margin: 30px 0;
  padding-top: 0px;
}

.single-input label {
  position: absolute;
  bottom: 5px;
  left: 0;
  color: rgb(150, 150, 150);
  cursor: text;
  transition: 0.5s ease-in-out;
  padding: 5px 15px;
}

#titleForm {
  font-weight: 700;
  padding-top: 0px;
}

.input {
  width: 100%;
  border: 0;
  border-bottom: 2px solid rgb(200, 200, 200);
  outline: 0;
  font-size: 16px;
  color: rgb(80, 80, 80);
  transition: 0.5s ease-in-out;
  height: 60px;
}

.input:focus,
.input:valid {
  border-bottom: 2px solid cornflowerblue;
}

.input:focus~label,
.input:valid~label {
  transform: translateY(-24px);
  font-size: 12px;
  color: cornflowerblue;
  padding: 10px 10px 0px;
}

.flex-item-left .form-footer button {
  color: white;
  border-radius: 0px;
  background-color: #2A7AE4;
  width: 35%;
  height: 50px;
  border: none;
}

footer a {
  color: #464646;
  align-self: stretch;
  font-weight: 700;
}

footer .flex-container {
  text-align: left;
}

footer {
  background: #EAF2FD;
}

.flex-item-left .form-footer a:hover {
  text-decoration: underline;
  font-weight: 500;
}

.flex-item-dev {
  background-color: #FFFFFF;
  padding: 10px;
  flex: 100%;
  text-align: center;
  line-height: 20px;
  font-weight: 500;
}

@media (max-width: 800px) {

  .flex-item-logo,
  .flex-item-left {
    flex: 100%;
  }
}