* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
  }

  body {
    align-items: center;
  }

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    text-align: center;
  }
  
  .flex-item-logo {
    background-color: #f1f1f1;
    padding: 10px;
    flex: 20%;
  }
  
  .flex-item-left {
    background-color: rgb(85, 145, 204);
    padding: 10px;
    flex: 30%;
    line-height: 35px;
  }

  .flex-item-dev {
    background-color: rgb(210, 219, 228);
    padding: 10px;
    flex: 100%;
    text-align: center;
    line-height: 20px;
  }

  .form {
    background-color: none;
    max-width: 430px;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
    text-align: center;
  }


  .container-login {
    height: 100vh;
    width: 100%;
    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .form #title-login {
    color: black;
    font-weight: bold;
    font-size: 25px;
  }

  form {
    margin-top: 20px;
  }

  form .login {
    height: 45px;
    width: 100%;
    margin-top: 25px;
  }

  .login input {
    border: none;
    border-bottom: 2px solid red;
    height: 60px;
    width: 100%;
    border-radius: 2px;
    padding: 0 15px;

  }
  .login button {
    height: 60px;
    width: 100%;
    border: none;
    background-color: blue;
    color: #f1f1f1;
  }

  /*.login  input{
    text-align: center;
    align-items: center;
    padding: 20px 50px 20px 50px;
  }*/


  .flex-item-left button {
    color: white;
    border-radius: 0px;
    background-color: blue;
    width: 35%;
    height: 50px;
    border: none;
  }

  a {
    color: black;
  }

  a:hover{
    text-decoration: underline;
  }

 /*.flex-item-left label {
    color: black;
    position: absolute;
    left: 0;
    bottom: 5px;
    cursor: text;
    transition: 0.5s ease-in-out;
 } */

 .search {
  border-radius: 20px;
  border: 0px;
  width: 42%;
  height: 25px;
  padding: 0 15px;
 }
  


  /* Responsive layout - makes a one column-layout instead of a two-column layout */
  @media (max-width: 800px) {
    .flex-item-logo, .flex-item-left {
      flex: 100%;
    }
  }